<!DOCTYPE html>

<html>

<head>
    <title>About</title>
      <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="main-content">
          {{>header}}

        <center><h3>This site was created by;</h3></center>  
    <img class="portrait" src="/img/me.jpg" alt="Angge">

          <p>AGAO ANGELUO G</p>
          <p>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</p>
          <p>I'M NOT GOOD AT CODING BUT I'M WILLING TO LEARN BY STUDYING.</p>
    
    <br>
    <img class="portrait" src="/img/millena.jpg" alt="Millena">
          <p>MILLENA MARIEL B</p>
          <p>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</p>
          <p>I'M NOT A CODE EXPERT, BUT I'M EAGER TO LEARN BY DOING RESEARCH</p>
    <br>
    <img class="portrait" src="/img/ronan.jpg" alt="Ronan">
          <p>GIPANAO RONAN G</p>
          <p>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</p>
          <p>THE BEST WAY TO PREDICT THE FUTURE IS TO CREATE IT.</p>
     {{!-- <img style="width:250px;float:left;" src="/img/millena.jpg"> --}}


    </div>
  
 
     {{>footer}}
</body>
</html>