<!DOCTYPE html>

<html>

<head>
    <title>About</title>
      <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
      <center>
    <div class="main-content">
          {{>header}}

        <center><h2>This site was created by;</h2></center>  
    <img class="portrait" src="/img/me.jpg" alt="Angge">
      <div class="dis">
          <p>AGAO ANGELUO G</p>
          <p>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</p>
          <p>I'M NOT GOOD AT CODING BUT I'M WILLING TO LEARN BY STUDYING.</p>
      </div>
    
    <br>
    <img class="portrait" src="/img/millena.jpg" alt="Millena">
        <div class="dis">
          <p>MILLENA MARIEL B</p>
          <p>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</p>
          <p>I'M NOT A CODE EXPERT, BUT I'M EAGER TO LEARN BY DOING RESEARCH.</p>
    <br>
    </div>
    <img class="portrait" src="/img/ronan.jpg" alt="Ronan">
       <div class="dis">
          <p>GIPANAO RONAN G</p>
          <p>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</p>
          <p>THE BEST WAY TO PREDICT THE FUTURE IS TO CREATE IT.</p>
     {{!-- <img style="width:250px;float:left;" src="/img/millena.jpg"> --}}
</div>

    </div>
 </center>
 
     {{>footer}}
</body>
</html>