<!DOCTYPE html>

<html>

<head>
    <title>About</title>
      <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="main-content">
          {{>header}}
          <p>This site was created by Agao Angeluo G. Gipanao Ronan G.  Millena Mariel B.</p>
    <img class="portrait" src="/img/me.jpg" alt="Angge">
    <img class="portrait" src="/img/millena.jpg" alt="Angge">
     {{!-- <img style="width:250px;float:left;" src="/img/millena.jpg"> --}}

    </div>
  
 
     {{>footer}}
</body>
</html>