
/* padding use to have space between text */

body {
    color: #7393B3;  /* hex code*/
    font-family: arial;
    max-width: 650px;
    margin: 0 /*sa taas at  baba*/  auto /*left and right*/ ; 
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height  : 100vh;
    /* background-image: url('/img/bg.gif'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: skyblue;
    background-image: linear-gradient(rgba(245, 235, 235, 0.837),rgba(230, 188, 219, 0.946)), url('/img/weather-forecast.gif');
}
.main-content{
     flex-grow: 1;
     margin: left;

}


h3 {
    margin-top: 0px;
    margin-left: 500px; 
     /* margin: 3px 500px; */
    color: #696969;
    text-decoration: 3px underline;
    
}

footer { 
    /* background: blue;
    margin: 16px; 
    padding: 16px; nag dako sa sulod san kulay */
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    font-size: small;
}


header {
    margin-top: 16px;
    margin-bottom: 48px;; 
    font-weight: bold;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    text-shadow: 2px 2px #696969;	
}

header a {
    color: #696969;
    margin-right: 16px;
    text-decoration: none;
    
}

.portrait {
    width: 155px;
    /* border-radius: 100px; */
    margin-bottom: 0px;
   border: 5px solid #555;
   background-color: grey;
}

h2 {
    color: #7393B3;
    text-shadow: #000000;
    text-shadow: 1px 1px #696969;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;


}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    
}

#message-1{
    color: #808080;
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
}

#message-2{
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.output {
    /* color: #000000;
    padding: 0 16px; */
    font-size: 15px; 
    padding: 0 16px;
    margin: 50px;
    background-color: #ffffff;
    border: 0px solid transparent;
    opacity: 0.5;
}


.dis {
    color: #000000;
    padding: 0 16px;
    font-size: 15px; 
    padding: 0 16px;
}

h5 {
    color: #696969;
}